<div class="container p-3">
<h1>Tasks</h1>
<div class="card">
<ul class="list-group">
<% @tasks.each do |task| %>
  <li class="list-group-item ">
    <%= link_to task.title, task_path(task), class: "text-decoration-none" %>
  </li>
<% end %>
</ul>
</div>
<div class="btn btn-primary mt-3">
<%= link_to "Add Task",  tasks_new_path, class: "text-decoration-none text-white"%>
</div>
</div>
